#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px;
}